.card-contents {
	padding: 3vh;
	text-align: center;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	border-radius: 8px;
	box-shadow: 0 3px 8px 2px rgba(101, 101, 101, 0.1);
	border: solid 0.5px var(--primaryColor);
	background-color: var(--white);
}
.header {
	font-family: "Barlow-SemiBold";
	font-size: 16px;
	color: var(--primaryColor);
	margin-block: 40px 20px;
}
.sub-heading {
	font-family: "Futura-Medium";
	font-size: 16px;
	/* font-size:18px */
	color: var(--darkPara);
	margin-bottom: 40px;

}
.button {
	border-radius: 4px;
	border: solid 1px var(--primaryColor);
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonText {
	font-size: 18px;
	font-family: "Futura-Medium";
	text-decoration: none;
	color: var(--primaryColor);
	text-transform: uppercase;
}
.sanerNowCardContents {
	padding-inline: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	border-radius: 4px;
	max-width: 350px;
	position: relative;
}
.heading,
.card4Heading {
	font-size: 24px;
	font-family: "Barlow-Bold";
	text-transform: capitalize;
	text-align: start;
}
.heading {
	margin-block: 64px 44px;
}
.card4Heading {
	margin-block: 17px 22px;
}
.sub-headings {
	width: 116px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}
.sub-headings span {
	font-size: 14px;
	font-family: "Futura-Medium";
}

.ribbon {
	position: relative;
	float: left;
	margin-bottom: 30px;
	color: green;
}
.ribbon3 {
	width: 140px;
	height: 32px;
	line-height: 34px;
	position: absolute;
	left: -48px;
	top: 20px;
	background: #a4e4a8;
}
.ribbon3:before,
.ribbon3:after {
	content: "";
	position: absolute;
}
.ribbon3:before {
	height: 0;
	width: 0;
	top: -8.5px;
	left: 0.1px;
	border-bottom: 9px solid black;
	border-left: 9px solid transparent;
}
.ribbon3:after {
	height: 0;
	width: 0;
	right: -14.5px;
	border-top: 16px solid #a4e4a8;
	border-bottom: 16px solid #a4e4a8;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}

.subContents,
.card2SubContents {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 8px;
}
.subContents {
	margin-bottom: 11vh;
}
.card2SubContents {
	margin-bottom: 20px;
}

.featuresText {
	font-size: 20px;
	font-family: "Barlow-SemiBold";
	margin-bottom: 22px;
}

.contents {
	display: flex;
	gap: 16px;
}

.circle-with-tick,
.circlehover {
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid var(--secondaryColor) !important;
}

.circle-with-tick::before,
.circlehover::before {
	content: "";
	position: absolute;
	top: 35%;
	left: 20%;
	width: 20%;
	height: 50%;
	transform: rotate(45deg) translateY(-50%);
}

.circle-with-tick::before {
	border: 2px solid #012f51;

	border-width: 0 2px 2px 0;
}

.circlehover::before {
	border: solid 2px var(--white);
	border-width: 0 2px 2px 0;
}

.contents span {
	font-size: 18px;
	font-family: "Futura-Medium";
	margin-bottom: 20px;
}

.image {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #f0faf0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonContentSection {
	font-size: 18px;
	font-family: "Futura-Medium";
	text-transform: uppercase;
	text-decoration: none;
	flex-shrink: 0;
	white-space: nowrap;
}

.buttons {
	border-radius: 4px;
	margin-block: 40px;
	padding: 16px 125px;
}

@media only screen and (max-width: 1440px) {
	.buttons {
		padding: 16px 102px;
	}
	.contents {
		gap: 6px;
	}
	.ribbon3 {
		left: -40px;
	}
}
