@font-face {
	font-family: "Barlow-SemiBold";
	src: url("../src/assets/fonts/Barlow/Barlow-SemiBold.ttf");
}
@font-face {
	font-family: "Futura-Bold";
	src: url("../src/assets/fonts/Futura/Futura\ Bold.ttf");
}
@font-face {
	font-family: "Barlow-ExtraBold";
	src: url("../src/assets/fonts/Barlow/Barlow-ExtraBold.ttf");
}
@font-face {
	font-family: "Barlow-Bold";
	src: url("../src/assets/fonts/Barlow/Barlow-Bold.ttf");
}